/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
*::selection{
    background-color: #ffaa17;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}
.contanier{
    width: 85%;
    margin: auto;
}
.btn{
    padding: 15px 30px;
    color: #1c1e22;
    font-weight: 500;
    background-color: #ffaa17;
    border-radius: 10px;
    border: 1px solid #ffaa17;
}
.btn:hover{
    color: #ffaa17;
    background: #fff;
}

section{
    padding: 90px 0 40px;
}

.sec-top{
    text-align: center;
    margin-bottom: 70px;
}
.sec-top h1{
    color: #1c1e22;
    font-size: 40px;
}
.sec-top h1 span{
    color: #ffaa17;
}

.boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxs .box{
    width: 18%;
    margin-bottom: 25px;
}
/* start Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;

}
header.active{
    background-color: #1c1e22;
    border-bottom: 1px solid #8888884a;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .logo a{
    margin-left: 50px;
    font-family: fantasy;
    font-size: 30px;
    background-image: linear-gradient(
    to right,
    #fff,
    #fff 50%,
    #ffaa17 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}
header nav .logo a:before{
    content: '';
  background: #ffaa17;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}
header nav .logo a:hover{
    background-position: 0;
}
header nav .logo a:hover::before{
    width:100%;
}
header nav .nav-links a{
    color: #fff;
    margin-left: 50px;
    background-image: linear-gradient(
    to right,
    #ffaa17,
    #ffaa17 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}
header nav .nav-links a:before{
    content: '';
    background: #ffaa17;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
}
header nav .nav-links a:hover{
    background-position: 0;
}
header nav .nav-links a:hover::before{
    width:100%;
}

#btn-menu{
    display: none;
}

/* start Hero */

.hero{
    padding-top: 80px;
    background: url(img/hero-bg.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .content h4{
    color: #ffaa17;
    font-size: 30px;
}
.hero .content h2{
    color: #fff;
    font-size: 65px;
    margin: 20px 0 10px;
}
.hero .content p{
    color: #e4e4e4;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
}
.hero .content .btn{
    font-size: 18px;
}
.hero .hero-img img{
    width: 400px;
    border-radius: 10px;
}
 /* start about */ 

 .Education {
    padding: 100px 0 50px;
 }
 .Education .sec-top{
    margin-left: 80px;
 }
.Education .contanier{
    display: flex;
    
    justify-content: center;
}
.Education .about-img img{
    width: 300px;
    border-radius: 10px;
    margin-top: -150px;
}
.Education .content{
    margin-left: 12%;
    margin-right: 10%;
    
}
.Education .content h1{
    color: #1c1e22;
    font-size: 45px;
}
.Education .content h1 span{
    color: #ffaa17;
}
.Education .content h3{
    color: #1c1e22;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.Education .content p{
    color: #444;
    line-height: 1.8;
    margin-bottom:70px;
    text-align: justify;
    
}

.moreText {
    display: none;
    
}
.read-more-btn {
    padding: 15px 30px;
    color: #1c1e22;
    font-weight: 600;
    background-color: #ffaa17;
    border-radius: 10px;
    border: 1px solid #ffaa17;
}
.read-more-btn:hover{
    color: #ffaa17;
    background: #fff;
}
.text.show-more .moreText {
    display: inline;
}
.text.show-more .dots {
    display: none;
}

/* start Expertise */

.Expertise{
    background-color: #f0f4f9;
    text-align: center;
}
.Expertise .about{
    margin: 5%;
    text-align: left;
}

.Expertise .boxs .box{
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}
/* .Expertise .boxs .box:hover{
    transform: scale(1.1);
    transition: 1s;
} */
.Expertise .boxs .box i{
    color: #ffaa17;
    font-size: 30px;
    margin-bottom: 20px;
}
.Expertise .boxs .box h3{
    color: #1c1e22;
    font-size: 20px;
    margin-bottom: 20px;
}
.Expertise .boxs .box p{
    color: #444;
    margin-bottom: 30px;
}
/* start Projects */
.Projects .box .boxs{
    display: flex;
    justify-items: space-between;
}
.Projects .boxs{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Projects .boxs .box{
    width:45%;
    height: 300px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}
.Projects .boxs .box1 h4{
    
    font-size: 28px;
    margin-bottom: 15px;
}
.Projects .boxs .box1 h5{
    color: #ffaa17;
    font-size: 23px;
    margin-bottom: 25px;
}
.Projects .boxs .box1 li{
    font-size: 18px;
    margin: 10px 0;
}
.Projects .boxs .box1{
width: 45%;
}
.Projects .boxs .box img{
    width: 100%;
    height: 100%;
}
.Projects .boxs .box:hover img{
    transform: scale(1.2);
    transition: 0.8s ease-out;
}
.Projects .boxs .box .box-hover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #111111b9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
}
.Projects .boxs .box:hover .box-hover{
    opacity: 1;
}
.Projects .boxs .box .box-hover span{
    color: #fff;
    font-size: 25px;
}

/* start Contact */

.contact{
    background: #f0f4f9;
}
.contact form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact form input{
    width: 48%;
    font-size: 18px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid rgba(128, 112, 22, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.contact form textarea{
    border: 1px solid rgba(128, 112, 22, 0.3);
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
.contact form textarea:focus,
.contact form input:focus{
    border-color: #ffaa17;
}
.contact form button{
    margin: 40px auto 0;
    cursor: pointer;
}

.footer{
    background-color: #1c1e22;
 }
 
 .footer .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
 }
 
 .footer .flex .box{
    flex: 1 1px
 }
 
 .footer .flex .box a{
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    text-align: center;
 }
 
 .footer .flex .box a span{
    color: #fff;
   
 }
 
 .footer .flex .box a:hover span{
    color: #ffaa17;
    transition: all 0.3s ease-in-out;
 }
 
 .footer .flex .box a i{
    color: #ffaa17;
    
 }
 
 .footer .flex .box:last-child{
    
    
 }
 
 .footer .flex .box:last-child a i{
    margin-left: 20px;
    
 }
 
 .footer .flex .box:first-child a i{
    margin-right: 20px;
    
 }
 
 .footer .flex .box:nth-child(2){
    text-align: center;
 }
 
 .footer .credit{
    padding: 20px 15px;
    text-align: center;
    font-size: 18px;
    color: #ffaa17;
    margin-top: 20px;
    /* padding-bottom: 10rem; */
 }
 
 .footer .credit span{
    color: #ffaa17;
 }
/* Media */

@media(max-width:1200px){
    .contanier{
        width: 90%;
    }
    .hero .content h2{
        font-size: 40px;
    }
    .hero .content p{
        font-size: 25px;
    }
    .hero .hero-img img{
        width: 380px;
    }
    .hero{
        padding-bottom: 40px;
    }
    .Education .content h3{
        font-size: 20px;
    }
    .Education .content p{
        margin-bottom: 50px;
    }
    .Education .about-img img{
        width: 270px;
        margin-top: -60px;
    }
    .Expertise .boxs .box h3{
        font-size: 20px;
    }
    .Expertise .boxs .box p{
        font-size: 17px;
    }
    .contact form{
        width: 70%;
    }
    .Education .sec-top{
        margin-left: 160px;
     }

}
@media(max-width:900px){
    .hero .content h1{
        font-size: 40px;
    }
    .hero .content p{
        font-size: 22px;
    }
    .hero .hero-img img{
        width: 340px;
    }
    .Education .sec-top{
        margin-left: -0px;
        margin-top: -60px;
        
     }
    header nav .nav-links a{
        margin-left: 40px;
    }
    .Education .contanier{
        flex-direction: column;
        text-align: center;
    }
    .Education .about-img img{
        width: 200px;
        margin-top: -30px;
    }
    .Education .about-img {
        margin-bottom: 20px;
    }
    
    .boxs .box{
        width: 100%;
        margin-bottom: 20px;
    }
    .Expertise .boxs .box h3{
        font-size: 20px;
    }
    .Expertise .boxs .box p{
        font-size: 17px;
    }
    .contact form{
        width: 80%;
    }
}
@media(max-width:780px){
    .hero .contanier{
        flex-direction: column-reverse;
    }
    .hero .hero-img img{
        width: 280px;
    }
    .hero .content h1{
        font-size: 50px;
    }
    .hero .content{
        margin-top: 40px;
        text-align: center;
    }
    .Education .sec-top{
        margin-left: 0px;
     }
     .Education .contanier{
        width: 100%;
    }
    .Education .contanier p{
        font-size: 17px;
    }
    .btn{
        padding: 12px 25px;
    }
    #btn-menu{
        display: block;
        color: #fff;
        font-size: 40px;

    }
    header nav .nav-links{
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #1c1e22;
    }
    header nav .nav-links.active{
        top: 100%;
    }
    header nav .nav-links a{
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #444;
    }
    header nav .nav-links a.active,
    header nav .nav-links a:hover{
        background-color: #ffaa17;
        color: #1c1e22;
    }
}
@media(max-width:670px){
    .hero .content h1{
        font-size: 40px;
    }
    .hero .hero-img img{
        width: 200px;
    }
    header nav .logo{
        margin-left: -20px;
    }
    header nav .logo a{
        font-size: 23px;
    }
    .Education .sec-top{
        margin-left: 0px;
     }
    .boxs .box{
        justify-content: center;

    }
   
    .Expertise .boxs .box h3{
        font-size: 18px;
    }
    .Expertise .boxs .box p{
        font-size: 17px;
    }
    .contact form{
        width: 90%;
    }
    .Projects .boxs{
   
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
}
.Projects .boxs .box{
    margin: 5%;
    width:100%;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    margin-left: 2px;
}
.Projects .boxs .box1{
width: 100%;
margin-left: 10%;
padding-right: 15%;
text-align: justify;
}
.Projects .boxs .box1 h4{
    
    font-size: 22px;
    margin-bottom: 15px;
}
.Projects .boxs .box1 h5{
    color: #ffaa17;
    font-size: 18px;
    margin-bottom: 25px;
}
.Projects .boxs .box1 li{
    font-size: 17px;
    margin: 10px 0;
}
.sec-top h1{
    font-size: 32px;
    margin-top: -50px;
    margin-bottom: -10px;
    margin-left: 10%;
    margin-right: 10%;
}
}
}
@media(max-width:500px){
    .hero .hero-img img{
        width: 280px;
    }
 
    .hero .hero-img img{
        width: 180px;
    }
    .Education .content h1{
        color: #1c1e22;
        font-size: 45px;
    }
    .contact form{
        width: 90%;
        justify-content: center;

    }
    .contact form input{
        width: 100%;
    }
    .Expertise .boxs .box h3{
        font-size: 18px;
    }
    .Expertise .boxs .box p{
        font-size: 17px;
    }
    .boxs .box{
        
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        
    }
    
}
